<h1>Listing 404s</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Path</th>
    <th>Referer</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @four_oh_fours.each do |four_oh_four| %>
  <tr>
    <td><%=h four_oh_four.host %></td>
    <td><%=h four_oh_four.path %></td>
    <td><%=h four_oh_four.referer %></td>
    <td><%=h four_oh_four.count %></td>
  </tr>
<% end %>
</table>

