:javascript
	// validate Contact Us form on keyup and submit
	//initiate validator on load
	$(function() {
	// validate contact form on keyup and submit
	$("#contact_form").validate({
	//set the rules for the field names
		rules: {
			"contact[name]": {
				required: true,
				minlength: 2
			},
			"contact[email]": {
				required: true,
				email: true
			},
		},
		//set messages to appear inline
		messages: {
			name: "Please enter your name.",
			email: "Please enter a valid email address.",
			}
		});
	});