<% title "Four Oh Fours" %>

<table>
  <tr>
    <th>Host</th>
    <th>Count</th>
  </tr>
  <% for four_oh_four in @four_oh_fours %>
    <tr>
      <td><%=h four_oh_four.host %></td>
      <td><%=h four_oh_four.count %></td>
    </tr>
  <% end %>
</table>

