/ .sidePanel
/ 	%h2 Availability Courses
/ 	%ul
/ 		%li= link_to_with_current_class "Reliability & Availability Modelling", reliability_availability_modelling_training_index_path
/ 		%li= link_to_with_current_class "Asset Modelling", asset_modelling_training_index_path
/ 		%li= link_to_with_current_class "Performance Penalty Modelling", performance_penalty_modelling_training_index_path

.sidePanel
	%h2 Coming Soon...
	%ul
		%li.soon Reliability & Availability Modelling
		%li.soon Asset Modelling
		%li.soon Performance Penalty Modelling
