%ul
	%li= link_to_with_current_class "Reliability & Availability Modelling", reliability_availability_modelling_training_path
	%li= link_to_with_current_class "Asset Modelling", asset_modelling_training_path
	%li= link_to_with_current_class "Performance Penalty Modelling", performance_penalty_modelling_training_path