/ .sidePanel
/ 	%h2 Executive Courses
/ 	%ul
/ 		%li= link_to_with_current_class "Rapport", rapport_training_index_path
/ 		%li= link_to_with_current_class "Strategies for Success", strategies_success_training_index_path
/ 		%li= link_to_with_current_class "Negotiation", negotiation_training_index_path
/ 		%li= link_to_with_current_class "Presentations", presentations_training_index_path
/ 		%li= link_to_with_current_class "Effective Sales", effective_sales_training_index_path

.sidePanel
	%h2 Coming Soon...
	%ul
		%li.soon Rapport
		%li.soon Strategies for Success
		%li.soon Negotiation
		%li.soon Presentations
		%li.soon Effective Sales