.sidePanel
	%h2 Risk Courses
	%ul
		%li= link_to_with_current_class "Risk Management Planning", risk_management_planning_training_index_path
		%li= link_to_with_current_class "Risk Register Modelling", risk_register_modelling_training_index_path
		%li= link_to_with_current_class "Risk Register Correlation Modelling", risk_register_correlation_modelling_training_index_path