%ul
	%li= link_to_with_current_class "Risk Analysis", risk_analysis_training_path
	%li= link_to_with_current_class "Risk Management", risk_management_training_path
	%li= link_to_with_current_class "Risk Planning", risk_planning_training_path