@font-face {
  font-family: Museo300;
  src: url(../fonts/Museo300.otf) format("opentype");
}
@font-face {
  font-family: Museo500;
  src: url(../fonts/Museo500.otf) format("opentype");
}
@font-face {
  font-family: Museo700;
  src: url(../fonts/Museo700.otf) format("opentype");
}

/* General tag definitions */

body, div, p, td, th, span, a {
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
	border: 0;
}

.caps {
  font-size: 12px;
}

#reference .caps {
  font-size: 10px;
}

/* Header */

#header {
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
  background: url('../images/background_header.jpg') #537DB9 repeat;
	border-top: 3px solid #F0F0F0;
}

#main, #home {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
}

#headerContainer, #mainContainer, #footerContainer {
	margin: 0px auto;
	width: 950px;
	position: relative;
}

#mainContainer {
	text-align: left;
	padding-bottom: 15px;
}

#headerContainer {
	height: 110px;
	background-color: #537DB9;
}

/* PANEL */

#panel {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	border-bottom: thin solid #BBBCBD;
	margin: 0;
	padding: 0;
  background: #E6DCD8 url('../images/background_panel_grey.png') repeat-x;
}

#panelContainer {
	margin: 0px auto;
	width: 950px;
	position: relative;
	text-align: left;
}

#panelText {
	width: 500px;
	padding: 25px 25px 15px 25px;
	font-family: Museo700;
	font-weight: normal;
	color: #537DB9;
	text-shadow: white 1px 1px 1px;
	h1 {
		font-size: 1.9em;
		padding: 0;
		margin: 0;
	}
	h2 {
		font-size: 1.2em;
		padding: 10px 0 0 0;
	}
}

/* Logo  */

#logo {
	position: absolute;
  top: 15px;
  left: 25px;
	text-decoration: none;
}

/* Contact */
#contact {
	position: absolute;
  top: 5px;
  left: 480px;
	text-decoration: none;
	font-size: 11px;
	z-index: 10;
	font-weight: bold;
	color: #F0F0F0;
	a {
		font-weight: normal;
		color: #F0F0F0;
		text-decoration: underline;
		&:hover {
			text-decoration: none;			
		}
	}
}

/* TOP NAV STYLING */

#topNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  font-size: 11px;
  font-weight: normal;
	text-shadow: white 2px 2px 2px;
}

#utilSearch {
  float: right;
  height: 28px;
  border: 0;
  margin-bottom: 0px;
  color: #537DB9;
}

#navBarLeft, #navBarMenu, #navBarRight {
  border: 0;
}

#navBarLeft, #navBarMenu {
  float: left;
}

#navBarMenu {
	height: 20px;
  background-color: #F0F0F0;
  padding: 5px 0 0;
  margin: 0;
}

#navBarLeft {
	width: 15px;
	height: 25px;
  background-color: #F0F0F0;
  -moz-border-radius: 0 0 0 15px;
  -webkit-border-radius: 0 0 0 15px;
  behavior: url(border-radius.htc);
}

#navBarRight {
  float: right;
	width: 15px;
	height: 25px;
  background-color: #F0F0F0;
  -moz-border-radius: 0 0 15px 0;
  -webkit-border-radius: 0 0 15px 0;
  behavior: url(border-radius.htc);
}

.navBarLink {
  color: #537DB9;
  text-decoration: none;
  padding: 2px;
  margin-top: 10px;
}

/* GLOBAL NAV STYLING */

#navContainer {
  position: absolute;
  top: 82px;
  left: 0px;
  margin: 0;
  padding: 0 0 0 15px;
  font-size: 12px;
  font-weight: normal;
	color: white;
  text-decoration: none;
  letter-spacing: 1px;
	text-shadow: #3D5E90 1px 1px 1px;
	ul {
	  margin: 0;
	  padding: 0px 0px 0;
	  list-style: none;
		li {
			a {
				&:hover {
					background-image: url('../images/nav_menu_left.jpg');
		  		background-repeat: no-repeat;
						span {
			  			background-image: url('../images/nav_menu_right.jpg');
			  			background-repeat: no-repeat;
			  			background-position: right top; } }
				span {
					&:hover {
						background-image: url('../images/nav_menu_right.jpg');
				  	background-repeat: no-repeat;
				  	background-position: right top; } }	}	}	}
	li {
	  display: inline;
	  margin: 0;
	  padding: 0;
		a:hover {
			background-image: url('../images/nav_menu_left.jpg');
		  background-repeat: no-repeat;
			span {
			  background-image: url('../images/nav_menu_right.jpg');
			  background-repeat: no-repeat;
			  background-position: right top;	} } }
	a {
	  float: left;
	  margin: 0 22px 0 0;
	  padding: 0 0 0 6px;
	  text-decoration: none;
		span {
		  float: left;
		  color: #F0F0F0;
		  padding: 9px 10px 5px 4px; } } }

/* SUB NAV STYLING  */

#subNav, #subNavBorder {
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
  background-color: transparent;
  background-image: url('../images/nav_sub_shaded.jpg');
  background-repeat: repeat-x;
  z-index: 9;
}

#subNavBorder {
	border-bottom: thin solid #a9a9a9;
}

#subNavInformation, #subNavContainer, #subNavHome {
  height: 32px;
  margin: 0px auto;
  list-style: none;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 24px;
  width: 926px;
  z-index: 10;
}

#subNavContainer {
	ul {
  padding: 0;
  margin: 0;
  list-style: none;	
		li {
			ul {
			  border: thin solid #a9a9a9;
			  padding-right: 4px;
			  margin-top: -8px;
				li {
				  float: left;
				  position: relative;
				  text-decoration: none;
					text-align: left;
				  margin: 0;
				  font-size: 0.9em;
				  padding: 1px 0 1px 4px; } } } } 
	li {
	  float: left;
	  position: relative;
	  text-decoration: none;
	  padding: 0;
	  margin-top: 8px;
	  margin-right: 25px;
	  margin-bottom: 0; } }

/* LEFT NAV */

#subContentLeft {
  padding: 10px 0 0 20px;
  margin: 5px 10px 10px 0;
  background-color: #ffffff;
  position: relative;
	float: left;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  white-space: normal;
  top: 0px;
  left: 0px;
  width: 170px;
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;	}
	li {
	  color: #537DB9;
	  text-decoration: none;
	  padding: 4px 5px;
	  margin: 0;
	  background-image: none;
		a {
		  color: #5e5e5e;
		  text-decoration: none;
			&.current {
			  color: #537DB9;
			  text-decoration: none; }
			&:hover {
			  color: #537DB9;
			  text-decoration: none; } } } }

/* Container and styles */

#containerPage {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  clear: both;
}

#containerCat, #containerGeneral {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

#container {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  width: 100%;
}

/* Home Page - Content */

#homeContainer {
	margin: 0px auto;
	width: 950px;
	position: relative;
	text-align: left;
}

.homeHeader {
	margin: 25px 25px 10px 25px;
	border-bottom: thin solid #a9a9a9;
	h2 {
		padding: 0;
		margin: 0;
		a {
			font-size: 0.7em;
			color: #736E6D;
			font-family: Museo500;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				border-bottom: 2px solid #736E6D;
			}
		}
	}
}

.homeColumn {
	margin-left: 25px;
	margin-right: 15px;
	float: left;
	width: 275px;
	color: #736E6D;
	h3 {
		padding: 0;
		margin: 10px 0 5px 0;
		font-weight: bold;
		font-size: 0.9em;
		a {
			color: #537DB9;
			text-decoration: none;
			&:hover {
				color: #736E6D;
				text-decoration: none;
			}
		}
	}
	p {
		font-family: Calibri;
		font-weight: normal;
		line-height: 1.5em;
		font-size: 0.8em;
		color: #333;
		padding: 0 0 10px 0;
		margin: 0;
	}
}

#homeMain {
  position: relative;
  top: 23px;
  left: 488px;
  padding: 0;
  margin: 0;
  /*background: url( 'http://apm-assets.s3.amazonaws.com/images/white_transparent.png' ) no-repeat left top;*/
  width: 480px;
  height: 400px;
}

#homeTitle {
  padding: 0;
  margin: 0;
  position: relative;
  top: 17px;
  left: 0px;
  width: 480px;
	h1 {
	  color: #FFFFFF;
	  font-family: Calibri;
	  font-size: 27px;
	  font-weight: bold;
	  text-align: center;
	  vertical-align: middle;
	  line-height: normal;
	}
}

#homeText {
  padding: 0;
  margin: 0;
  position: relative;
  top: 25px;
  left: 10px;
  width: 469px;
	p {
	  padding: 5px;
	  margin: 0;
	  color: #FFFFFF;
	  text-decoration: none;
	  font-family: Calibri;
	  font-size: 15px;
	  font-weight: normal;
	  line-height: 18px; }
	a {
	  text-decoration: none;
	  color: #FFFFFF;
	  font-family: Calibri;
	  font-weight: bold;
		&:hover	{
		  text-decoration: underline;	} } }

.bulletListHome {
  color: #FFFFFF;
  margin-left: 2em;
  padding: 8px;
  font-family: Calibri;
  font-size: 15px;
  font-weight: normal;
  line-height: 18.5px;
	ul {
	  margin: 0px;
  padding: 0px;	} 
	li {
	  list-style-type: none;
	  margin: 0.2em 0 0 0;
	  padding-left: 15px;
	  background-image: url('../images/bullet_white.png');
	  background-position: left 6px;
	  background-repeat: no-repeat;	} }


/* General Page (SiteMap) - Content */

#generalContent {
  margin: 0;
  width: 580px;
  font-family: Calibri;
  position: relative;
  top: -13px;
  left: 0px;
	a {
	  text-decoration: none;
	  color: #537DB9;
	  font-family: Calibri;
		&:hover {
	  	text-decoration: underline;	} }
	h1 {
	  padding: 5px;
	  margin: 15px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 15px; }
	h2 {
	  padding: 5px;
	  margin: 10px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-size: 17px;
	  font-weight: bold;
	  line-height: normal; } 
	h3 {
	  margin: 0;
	  color: #808080;
	  text-decoration: none;
	  font-size: 14px;
	  font-weight: normal;
	  line-height: normal;
	  padding: 5px 0 0 5px;	} 
	p {
	  padding: 5px;
	  margin: 0;
	  color: #333333;
	  text-decoration: none;
	  font-family: Calibri;
	  font-size: 13px;
	  font-weight: normal;
	  line-height: normal; } }
	
	
/* Container and Container content styles */

#bodyHeader {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 580px;
	h1 {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 15px;
	  font-weight: bold;
	  color: #FFFFFF;
	  position: relative;
	  margin: 0;
	  padding: 0;
	  top: 0px;
	  left: 5px;
	  position: relative;
	  top: -25px;	} }

/* Category Pages - Content */

#catContentHeader {
  padding: 0;
  margin: 0;
  position: relative;
  top: 0px;
  left: 24px;
  width: 720px;
  height: 160px;
  float: left;
  clear: right;
}

#catContentLeft {
	padding: 10px 0 0 20px;
	margin: 5px 10px 10px 0;
	background-color: #ffffff;
	position: relative;
	float: left;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	top: 0px;
	left: 0px;
	width: 170px;
}

#catContentMiddle {
  padding: 0;
	padding-bottom: 35px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 540px;
  float: left;
  font-size: 13px;
}

#catContentRight {
  padding: 0;
  margin: 10px 0 0 10px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  float: left;
}

#bodyContentMiddle {
  margin: 10px 0 0 0;
  width: 100%;
	a {
	  text-decoration: none;
	  color: #537DB9;
	  font-family: Calibri;
		&:hover {
		  text-decoration: underline;	}	}
	h1 {
	  padding: 5px;
	  margin: 15px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-family: Museo500;
	  font-size: 24px;
	  font-weight: bold;
	  line-height: normal; }
	h2 {
	  padding: 5px;
	  margin: 10px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-family: Museo500;
	  font-size: 17px;
	  font-weight: bold;
	  line-height: normal; }
	p {
	  padding: 5px;
	  margin: 0;
	  color: #333333;
	  text-decoration: none;
	  font-family: Calibri;
	  font-size: 13px;
	  font-weight: normal;
	  line-height: normal; } }

/* Sub Pages - Content */

#subContentMiddle {
  padding: 0 0 35px 0;
  margin: 0;
  color: #808080;
  text-decoration: none;
  position: relative;
  left: 0px;
  top: 0px;
  font-size: 13px;
  font-weight: normal;
	min-height: 450px;
  width: 540px;
  float: left;
}

#subContentRight {
  padding: 10px 0 0 0;
  margin: 5px 0 10px 10px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  float: left;
}

#bodyContent, #leadershipContent {
  margin: 10px 0 0 0;
  width: 540px;
  font-family: Calibri;
	a {
	  text-decoration: none;
	  color: #537DB9;
	  font-family: Calibri;
		&:hover {
	  	text-decoration: underline;
		} }
	p {
	  margin: 0;
	  text-decoration: none;
	  font-family: Calibri;
	  font-weight: normal;
	  line-height: normal;
	}
	h1 {
	  padding: 5px;
	  margin: 15px 0 0 0;
	  color: #808080;
	  text-decoration: none;
		font-family: Museo500;
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 15px;
	}
	h2 {
	  padding: 5px;
	  margin: 10px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-size: 17px;
	  font-weight: bold;
	  line-height: normal;
		&#courses {
		  padding: 0 0 3px 0;
		  margin: 15px 4px 10px 5px;
		  color: #808080;
		  text-decoration: none;
		  font-size: 17px;
		  line-height: normal;
			font-style: italic;
			font-weight: normal;
			background: url('../images/h2-background.png') no-repeat 0% 100%;
		}
	}
}

#bodyContent p {
  padding: 5px;
  color: #333333;
  font-size: 13px;
}

#courseContent {
  margin: 10px 0 0 0;
  width: 540px;
  font-family: Calibri;
	a {
	  text-decoration: none;
	  color: #537DB9;
	  font-family: Calibri;
		&:hover {
	  	text-decoration: underline;
		} }
	p {
	  margin: 0;
	  text-decoration: none;
	  font-family: Calibri;
	  font-weight: normal;
	  line-height: normal;
	  padding: 5px;
	  color: #333333;
	  font-size: 13px;
	}
	h1 {
		&#title {
		  padding: 0 5px;
		  margin: 15px 0 0 0;
		  color: #537DB9;
		  text-decoration: none;
			font-family: Museo500;
		  font-size: 30px;
		  font-weight: bold;
		}
	}
	h2, h3 {
	}
	h2 {
		&#summary, &#courses, &#duration, &#objectives, &#audience, &#instructors, &#outline, &#testimonials {
		  padding: 0 0 3px 0;
		  margin: 15px 4px 10px 5px;
		  color: #808080;
		  text-decoration: none;
		}
	}
	h2 {
		&#duration, &#courses, &#objectives, &#audience, &#instructors, &#outline, &#testimonials {
		  font-size: 17px;
		  line-height: normal;
			font-style: italic;
			font-weight: normal;
			background: url('../images/h2-background.png') no-repeat 0% 100%;
		}
	}
	h2 {
		&#summary {
		  font-size: 19px;
		  font-weight: bold;
		  line-height: normal;
			font-weight: normal;
			background: url('../images/h2-background.png') no-repeat 0% 100%;
		}
	}
	h3 {
		&#tagline {
		  padding: 5px;
		  margin: 0;
		  color: darken(#808080, 10);
		  text-decoration: none;
		  font-size: 17px;
		  font-weight: bold;
		  line-height: normal;
		}
	}
	#contentNavigation {
		text-align: center;
		font-style: italic;
		padding-top: 7px;
		color: #537DB9;
		background: url('../images/hr-background.png') no-repeat 0% 0%;
		a {
			font-size: 14px;
			color: gray;
			font-style: normal;
			text-decoration: none;
			&:hover {
				color: #537DB9;
			}
		}
	}
}

#leadershipContent p {
  color: #797979;
  font-size: 12px;
}

#reference {
  margin: 0;
  padding: 25px 10px 10px 10px;
  font-family: Calibri;
  text-decoration: none;
  color: #666666;
  font-size: 11px;
}

span.apm {
  font-size: 13px;
  font-family: Calibri;
  font-weight: bold;
  color: #537DB9;
}

span.bright {
	color: #669BE9;
}

.bulleted_list {
  margin-left: 30px;
  padding: 0;
  font-family: Calibri;
  font-size: 13px;
  color: #666666;
}

ul {
  padding: 0;
  margin: 0.8em 0;
}

li {
  list-style-type: none;
  padding-left: 15px;
  background-image: url('../images/bullet.png');
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
}

/* Footer styles */

#footer {
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
  height: 45px;
  background-image: url('../images/background_footer.jpg');
  background-repeat: repeat-x;
  background-color: #ffffff;
}
	
#footerContainer {
  padding: 40px 0 0 0;
  color: #321b0f;
  font-family: Helvetica, sans-serif;
  font-size: 0.65em;
}

ul.siteLinksColumn, ul.consultingColumn, ul.consulting2Column, ul.trainingColumn, ul.industriesColumn {
	line-height: 1.7em;
	float: left;
	text-align: left;
  padding: 0 0 25px 40px;
  margin: 0;
  list-style: none;
	li {
	  margin: 0;
	  padding: 0px 0px 0;
	  text-decoration: none;
		background-image: none;
		text-indent: -1em;
		a {
			font-size: 1.05em;
			color: #736E6D;
			font-weight: normal;
		  text-decoration: none;
			font-family: Verdana, Geneva, sans-serif;
			&:hover {
		  	text-decoration: underline;
				color: #537DB9;
			}
		}
		h3 {
			margin: 0;
			padding: 10px 0 0 0;
			a {
				color: #736E6D;
				font-family: Museo500;
				font-weight: bold;
			  text-decoration: none;
				&:hover {
					color: #537DB9;
		  		text-decoration: none;
					border-bottom: 2px solid #537DB9;
				}
			}
		}
		h4 {
			margin: 0;
			padding: 10px 0 0 0;
			a {
				color: #537DB9;
			  text-decoration: none;
			  font-family: Museo700;
				font-size: 1.2em;
				text-shadow: white 1px 1px 1px;
				&:hover {
					color: #808080;
			  	text-decoration: underline;
				}				
			}
		}
	}
}

ul.siteLinksColumn {
	width: 90px;
}

ul.consultingColumn {
	width: 170px;
}

ul.consulting2Column {
	width: 170px;
	padding-top: 28px;
}

ul.trainingColumn {
	width: 150px;
}

ul.industriesColumn {
	width: 140px;
}

#footerBase {
	height: 40px;
	margin: 25px;
	padding-top: 25px;
	border-top: thin solid #808080;
}

.links {
  float: right;
  color: #808080;
  padding-left: 10px;
  text-align: right;
	a, a span, a:visited, a:visited span {
		color: #808080;
	  text-decoration: none;
	}
}

.copyright {
  padding-right: 10px;
  color: #808080;
  float: left;
	a {
	  color: #808080;
	  text-decoration: none;
	}
}

/* People */

.peopleText {
  font-family: Calibri;
  padding: 0 50px 0 0;
  margin: 0;
  text-decoration: none;
  width: 515px;
  text-align: left;
  vertical-align: top;
	.name {
	  font-family: Calibri;
	  font-size: 15px;
	  color: #537DB9;
	  font-weight: bold;
	}
	.title {
	  font-family: Calibri;
	  font-size: 13px;
	  color: #321b0f;
	  font-weight: normal;
	}
	.bio {
	  font-family: Calibri;
	  padding: 0;
	  margin: 0;
	  color: #808080;
		p {
	  	font-size: 13px;
		}
	}
}

.read {
  font-family: Calibri;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #537DB9;
  text-decoration: none;
}

.peopleImage {
  margin: 0;
  padding: 38px 0 0 0;
  width: 75px;
  vertical-align: top;
}

/* Contact Page */

table.contactDetails {
  background-color: #EFEFEF;
}

#contactContent {
  margin: 10px 0 0 0;
  width: 580px;
  font-family: Calibri;
	a {
	  text-decoration: none;
	  color: #537DB9;
	  font-family: Calibri;
		&:hover {
		  text-decoration: underline;
		}
	}
	p {
	  padding: 5px 2px 5px 2px;
	  margin: 0;
	  color: #333333;
	  text-decoration: none;
	  font-family: Calibri;
	  font-size: 13px;
	  font-weight: normal;
	  line-height: normal;
	}
	h1 {
	  padding: 5px;
	  margin: 15px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-family: Museo500;
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 15px;
	}
	h2 {
	  padding: 5px;
	  margin: 10px 0 0 0;
	  color: #808080;
	  text-decoration: none;
	  font-family: Museo500;
	  font-size: 17px;
	  font-weight: bold;
	  line-height: normal;
	}
}

.detailsTypeLayout {
  width: 60px;
  margin: 0;
  padding: 5px 10px 5px 5px;
  border: 0;
  vertical-align: top;
  text-align: left;
}

.details {
  font-family: Calibri;
  font-size: 13px;
  color: #333333;
}

.detailsLayout {
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 5px;
  vertical-align: top;
  text-align: right;
}

.labelLayout {
  width: 200px;
  margin: 0;
  padding: 5px 10px 5px 3px;
  border: 0;
  vertical-align: middle;
  text-align: left;
}

label {
  font-family: Calibri;
  font-size: 13px;
  color: #333333;
}

.label {
  font-family: Calibri;
  font-size: 13px;
  color: #333333;
}

label.error { 
	display: none;
	font-family: Calibri;
  font-size: 13px;
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top;
}

.textboxLayout, .radio_buttonLayout {
  width: 360px;
  height: 100%;
  margin: 0;
  padding: 2px;
  vertical-align: middle;
  text-align: right;
}

.radioButtonLayout {
  width: 355px;
  padding: 0 0 0 15px;
  text-align: left;
}

.textbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #333333;
}

.validationLayout {
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
  text-align: right;
}

.validation {
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
  color: #FF0000;
}

.button {
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0 231px;
}

.buttonLayout, .sentLayout {
  width: 65px;
  height: 100%;
  padding: 3px 5px 2px 5px;
  vertical-align: top;
  text-align: center;
  border: 1px inset #808080;
}

#contactContent p.consent {
  font-size: 11px;
}

table.contactTable {
  background-color: #EFEFEF;
}

/* Utility definitions */

.clear {
  clear: both;
  line-height: .01em;
  padding: 0;
  margin: 0;
}

.blue {
  color: #537DB9;
  font-size: 15px;
}

.one_hundredPercent {
  display: block;
  width: 100%;
  height: 100%;
}

#notice {
	border: solid 1px #99cc99;
	background-color: #e2f9e3;
	color: #006600;
	padding: 5px;
	margin-bottom: 5px;
	a {
		&:link {
		  color: #006600;
		  text-decoration: underline;
		}
		&:hover {
		  color: #006600;
		  text-decoration: none;
		}
	}
	.error {
	  border-color: #cc0000;
	  background-color: #eeaaaa;
	  color: #cc0000;
	}
}