/* General tag definitions */

body {
  background-position: left top;
  background-color: #FFFFFF;
  background-image: url('../images/background_header.jpg');
  background-repeat: repeat-x;
}

body, div, p, td, th, span, a {
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.caps {
  font-size: 12px;
}

#reference .caps {
  font-size: 10px;
}

div#top_bg, div#top_home {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-image: url('../images/background_header.jpg');
  background-repeat: repeat-x;
}

div#top_bg {
  height: 115px;
}

div#top_home {
  height: 85px;
}

/* Logo and search box */

div#logo_search {
  clear: both;
  float: left;
  padding: 0;
  width: 964px;
}

div#logo {
  top: 15px;
  left: 25px;
  position: absolute;
  z-index: 1;
  float: left;
}

/* TOP NAV STYLING */

div#top_nav {
  position: relative;
  top: 0;
  left: 0;
  width: 940px;
  font-size: 11px;
  font-weight: normal;
}

div#util_search {
  float: right;
  height: 28px;
  border: 0;
  margin-bottom: 0px;
  background-color: #F0F0F0;
  color: #537DB9;
}

div#nav_bar_left, div#nav_bar_menu, div#nav_bar_right {
  border: 0;
}

div#nav_bar_left, div#nav_bar_menu {
  float: left;
}

div#nav_bar_right {
  float: right;
}

div#nav_bar_menu {
  padding: 0;
  margin: 7px 0 0;
}

.nav_bar_link {
  color: #537DB9;
  text-decoration: none;
  padding: 2px;
  margin-top: 10px;
}

/* GLOBAL NAV STYLING */

div#nav_container {
  position: relative;
  top: 27px;
  left: 0px;
  clear: both;
  margin: 0;
  padding: 10px 0 0 15px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0F0F0;
}

div#nav_container ul {
  margin: 0;
  padding: 10px 0px 0;
  list-style: none;
}

div#nav_container li {
  display: inline;
  margin: 0;
  padding: 0;
}

div#nav_container a {
  float: left;
  margin: 0 12px 0 0;
  padding: 0 0 0 6px;
  text-decoration: none;
}

div#nav_container a span {
  float: left;
  color: #F0F0F0;
}

div#nav_container a span {
  padding: 9px 10px 5px 4px;
}

div#nav_container li a:hover,
div#nav_container ul li a:hover {
  background-image: url('../images/nav_menu_left.jpg');
  background-repeat: no-repeat;
}

div#nav_container li a:hover span,
div#nav_container ul li a span:hover {
  background-image: url('../images/nav_menu_right.jpg');
  background-repeat: no-repeat;
  background-position: right top;
}

/* SUB NAV STYLING  */

div#sub_nav_information, div#sub_nav_container, div#sub_nav_home {
  position: relative;
  top: -13px;
  left: 0px;
  height: 32px;
  margin: 0;
  float: left;
  background-color: transparent;
  background-image: url('../images/nav_sub_shaded.jpg');
  background-repeat: repeat-x;
  list-style: none;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 24px;
  width: 100%;
  z-index: 2;
}

div#sub_nav_container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div#sub_nav_container li {
  float: left;
  position: relative;
  text-decoration: none;
  padding: 0;
  margin-top: 8px;
  margin-right: 25px;
  margin-bottom: 0;
}

div#sub_nav_container ul li ul {
  border: thin solid #a9a9a9;
  padding-right: 4px;
  margin-top: -8px;
}

div#sub_nav_container ul li ul li {
  float: left;
  position: relative;
  text-decoration: none;
  margin: 0;
  font-size: 0.9em;
  padding: 1px 0 1px 4px;
}

/* LEFT NAV */

div#left_nav {
  padding: 10px 0 0 20px;
  margin: 6px 6px 10px 0;
  background-color: #ffffff;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  white-space: normal;
  top: 0px;
  left: 0px;
  width: 170px;
}

div#left_nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div#left_nav li {
  color: #537DB9;
  text-decoration: none;
  padding: 4px 5px;
  margin: 0;
  background-image: none;
}

div#left_nav li a {
  color: #5e5e5e;
  text-decoration: none;
}

div#left_nav li a.current {
  color: #537DB9;
  text-decoration: none;
}

div#left_nav li a:hover {
  color: #537DB9;
  text-decoration: none;
}

/* Container and styles */

div#container_bg {
  position: relative;
  top: -13px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-top: 1px solid #b6b6b6;
  clear: both;
}

div#container_cat, div#container_general {
  position: relative;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

div#container_cat {
  top: -13px;
}

div#container_general {
  top: 0px;
}

div#container {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  width: 100%;
}

/* Home Page - Content */

div#home_container {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #537DB9;
}

div#home_content_body {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  background: url(../images/background_main.jpg) no-repeat left top;
  width: 1000px;
  height: 500px;
}

div#home_content_main {
  position: relative;
  top: 23px;
  left: 488px;
  padding: 0;
  margin: 0;
  background: url( '../images/WhiteTransparent.png' ) no-repeat left top;
  width: 480px;
  height: 400px;
}

div#home_content_title {
  padding: 0;
  margin: 0;
  position: relative;
  top: 17px;
  left: 0px;
  width: 480px;
}

div#home_content_title h1 {
  color: #FFFFFF;
  font-family: Calibri;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}

div#home_content_text {
  padding: 0;
  margin: 0;
  position: relative;
  top: 25px;
  left: 10px;
  width: 469px;
}

div#home_content_text p {
  padding: 5px;
  margin: 0;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Calibri;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
}

div#home_content_text a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Calibri;
  font-weight: bold;
}

div#home_content_text a:hover {
  text-decoration: underline;
}

.bullet_list_home {
  color: #FFFFFF;
  margin-left: 2em;
  padding: 8px;
  font-family: Calibri;
  font-size: 15px;
  font-weight: normal;
  line-height: 18.5px;
}

.bullet_list_home ul {
  margin: 0px;
  padding: 0px;
}

.bullet_list_home li {
  list-style-type: none;
  margin: 0.2em 0 0 0;
  padding-left: 15px;
  background-image: url('../images/bullet_white.png');
  background-position: left 6px;
  background-repeat: no-repeat;
}

div#footer_home {
  position: relative;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  background-image: url('../images/background_footer.jpg');
  background-repeat: repeat-x;
  background-color: #ffffff;
}

/* General Page (SiteMap) - Content */

div#general_content {
  margin: 0;
  width: 580px;
  font-family: Calibri;
  position: relative;
  top: -13px;
  left: 0px;
}

div#general_content a {
  text-decoration: none;
  color: #537DB9;
  font-family: Calibri;
}

div#general_content a:hover {
  text-decoration: underline;
}

div#general_content h1 {
  padding: 5px;
  margin: 15px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
}

div#general_content h2 {
  padding: 5px;
  margin: 10px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
}

div#general_content p {
  padding: 5px;
  margin: 0;
  color: #333333;
  text-decoration: none;
  font-family: Calibri;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}

/* Container and Container content styles */

div#body_header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 580px;
}

div#body_header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 5px;
  position: relative;
  top: -22px;
}

/* Category Pages - Content */

div#cat_content_header {
  padding: 0;
  margin: 0;
  position: relative;
  top: 0px;
  left: 0px;
  width: 720px;
  height: 160px;
  float: left;
  clear: right;
}

div#cat_content_left {
  padding: 0;
  margin: 10px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 155px;
  float: left;
}

div#cat_content_middle {
  padding: 0;
  position: relative;
  top: 0px;
  left: 0px;
  width: 540px;
  float: left;
  font-size: 13px;
}

div#cat_content_right {
  padding: 0;
  margin: 10px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  float: left;
}

div#body_content_middle {
  margin: 10px 0 0 0;
  width: 100%;
  font-family: Calibri;
}

div#body_content_middle a {
  text-decoration: none;
  color: #537DB9;
  font-family: Calibri;
}

div#body_content_middle a:hover {
  text-decoration: underline;
}

div#body_content_middle h1 {
  padding: 5px;
  margin: 15px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}

div#body_content_middle h2 {
  padding: 5px;
  margin: 10px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
}

div#body_content_middle p {
  padding: 5px;
  margin: 0;
  color: #333333;
  text-decoration: none;
  font-family: Calibri;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}

/* Sub Pages - Content */

div#sub_content_middle {
  padding: 0;
  margin: 0;
  color: #808080;
  text-decoration: none;
  position: relative;
  left: 220px;
  top: 0px;
  font-size: 13px;
  font-weight: normal;
}

div#body_content, div#leadership_content {
  margin: 10px 0 0 0;
  width: 580px;
  font-family: Calibri;
}

div#body_content a, div#leadership_content a {
  text-decoration: none;
  color: #537DB9;
  font-family: Calibri;
}

div#body_content a:hover, div#leadership_content a:hover {
  text-decoration: underline;
}

div#body_content h1, div#leadership_content h1 {
  padding: 5px;
  margin: 15px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
}

div#body_content h2, div#leadership_content h2 {
  padding: 5px;
  margin: 10px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
}

div#body_content p, div#leadership_content p {
  margin: 0;
  text-decoration: none;
  font-family: Calibri;
  font-weight: normal;
  line-height: normal;
}

div#body_content p {
  padding: 5px;
  color: #333333;
  font-size: 13px;
}

div#leadership_content p {
  color: #797979;
  font-size: 12px;
}

#reference {
  margin: 0;
  padding: 25px 10px 10px 10px;
  font-family: Calibri;
  text-decoration: none;
  color: #666666;
  font-size: 11px;
}

span.apm {
  font-size: 13px;
  font-family: Calibri;
  font-weight: bold;
  color: #537DB9;
}

.bulleted_list {
  margin-left: 30px;
  padding: 0;
  font-family: Calibri;
  font-size: 13px;
  color: #666666;
}

ul {
  padding: 0;
  margin: 0.8em 0;
}

li {
  list-style-type: none;
  padding-left: 15px;
  background-image: url(../images/bullet.png);
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
}

/* Footer styles */

div#footer_bg, div#footer_general {
  position: relative;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  background-image: url('../images/background_footer.jpg');
  background-repeat: repeat-x;
  background-color: #ffffff;
}

div#footer {
  clear: both;
  float: none;
  padding: 16px 10px 0 10px;
  width: 955px;
  color: #321b0f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0 0 10px 0;
}

div.links {
  float: right;
  color: #808080;
  padding-left: 10px;
  text-align: right;
}

div.links a, div.links a span, div.links a:visited, div.links a:visited span {
  color: #808080;
  text-decoration: none;
}

div.copyright {
  padding-right: 10px;
  color: #808080;
  float: left;
}

div.copyright a {
  color: #808080;
  text-decoration: none;
}

/* People */

.people_text {
  font-family: Calibri;
  padding: 0 50px 0 0;
  margin: 0;
  text-decoration: none;
  width: 515px;
  text-align: left;
  vertical-align: top;
}

.people_text div.name {
  font-family: Calibri;
  font-size: 15px;
  color: #537DB9;
  font-weight: bold;
}

.people_text div.title {
  font-family: Calibri;
  font-size: 13px;
  color: #321b0f;
  font-weight: normal;
}

.bio {
  font-family: Calibri;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #808080;
}

.read {
  font-family: Calibri;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #537DB9;
  text-decoration: none;
}

.people_image {
  margin: 0;
  padding: 38px 0 0 0;
  width: 75px;
  vertical-align: top;
}

/* Contact Page */

table.contact_details {
  background-color: #EFEFEF;
}

div#contact_content {
  margin: 10px 0 0 0;
  width: 580px;
  font-family: Calibri;
}

div#contact_content a {
  text-decoration: none;
  color: #537DB9;
  font-family: Calibri;
}

div#contact_content a:hover {
  text-decoration: underline;
}

div#contact_content h1 {
  padding: 5px;
  margin: 15px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
}

div#contact_content h2 {
  padding: 5px;
  margin: 10px 0 0 0;
  color: #808080;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
}

div#contact_content p {
  padding: 5px 2px 5px 2px;
  margin: 0;
  color: #333333;
  text-decoration: none;
  font-family: Calibri;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}

.details_type_layout {
  width: 60px;
  margin: 0;
  padding: 5px 10px 5px 5px;
  border: 0;
  vertical-align: top;
  text-align: left;
}

.details {
  font-family: Calibri;
  font-size: 13px;
  color: #333333;
}

.details_layout {
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 5px;
  vertical-align: top;
  text-align: right;
}

.label_layout {
  width: 200px;
  margin: 0;
  padding: 5px 10px 5px 3px;
  border: 0;
  vertical-align: middle;
  text-align: left;
}

.label {
  font-family: Calibri;
  font-size: 13px;
  color: #333333;
}

.textbox_layout, .radio_button_layout {
  width: 360px;
  height: 100%;
  margin: 0;
  padding: 2px;
  vertical-align: middle;
  text-align: right;
}

.radio_button_layout {
  width: 355px;
  padding: 0 0 0 15px;
  text-align: left;
}

.textbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #333333;
}

.validation_layout {
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
  text-align: right;
}

.validation {
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
  color: #FF0000;
}

.button {
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0 231px;
}

.button_layout, .sent_layout {
  width: 65px;
  height: 100%;
  padding: 3px 5px 2px 5px;
  vertical-align: top;
  text-align: center;
  border: 1px inset #808080;
}

div#contact_content p.consent {
  font-size: 11px;
}

table.contact_table {
  background-color: #EFEFEF;
}

/* Utility definitions */

div.clear {
  clear: both;
  line-height: .01em;
  padding: 0;
  margin: 0;
}

.blue {
  color: #537DB9;
  font-size: 15px;
}

.one_hundred_percent {
  display: block;
  width: 100%;
  height: 100%;
}