div#nav_container {
  top: 30px; }

div#container_bg {
  top: -12px; }

div#cat_content_header {
  top: 1px; }

div#body_header h1 {
  top: -25px; }

div#home_background {
  top: -1px; }

.button {
  margin: 0 0 0 224px; }

.radio_button_layout {
  width: 361px;
  padding: 0 0 0 9px; }

div#top_home {
  height: 85px; }

.bullet_list_home {
  line-height: normal; }
