/*
Syntax error: Invalid CSS after "*": expected "{", was "/"
        on line 3132 of public/stylesheets/sass/whiteHouse.scss

3127: 	text-decoration: underline;
3128: }
3129: #content p a,p a:visited,#content li a,#content li a:visited {
3130: 	text-decoration: underline;
3131: }
3132: */
3133: 
3134: #content p a:hover,p a:active,#content li a:hover,#content li a:active {
3135: 	text-decoration: none;
3136: }
3137: blockquote {

Backtrace:
public/stylesheets/sass/whiteHouse.scss:3132
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:781:in `expected'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:756:in `expected'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:752:in `tok!'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:298:in `block'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:293:in `ruleset'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:316:in `block_child'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:310:in `block_contents'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/scss/parser.rb:26:in `parse'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/engine.rb:205:in `_to_tree'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/engine.rb:177:in `to_tree'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/files.rb:44:in `tree_for'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:221:in `update_stylesheet'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:86:in `block (2 levels) in update_stylesheets'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:79:in `each'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:79:in `block in update_stylesheets'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:77:in `each'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:77:in `update_stylesheets'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:172:in `block (4 levels) in watch'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/sass/plugin.rb:165:in `watch'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/haml/exec.rb:435:in `watch_or_update'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/haml/exec.rb:347:in `process_result'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/haml/exec.rb:42:in `parse'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/lib/haml/exec.rb:22:in `parse!'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/gems/haml-3.0.12/bin/sass:8:in `<top (required)>'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/bin/sass:19:in `load'
/Users/Daren/.rvm/gems/ruby-1.9.1-p378@rails3b/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"*\": expected \"{\", was \"/\"\A         on line 3132 of public/stylesheets/sass/whiteHouse.scss\A \A 3127: 	text-decoration: underline;\A 3128: }\A 3129: #content p a,p a:visited,#content li a,#content li a:visited {\A 3130: 	text-decoration: underline;\A 3131: }\A 3132: */\A 3133: \A 3134: #content p a:hover,p a:active,#content li a:hover,#content li a:active {\A 3135: 	text-decoration: none;\A 3136: }\A 3137: blockquote {"; }
