%h1 My account

%p
	%b Login:
	=h resource.login
 
%p
	%b Login count:
	=h resource.login_count

%p
	%b Last request at:
	=h resource.last_request_at
 
%p
	%b Last login at:
	=h resource.last_login_at
 
%p
	%b Current login at:
	=h resource.current_login_at
 
%p
	%b Last login ip:
	=h resource.last_login_ip

%p
	%b Current login ip:
	=h resource.current_login_ip 

= link_to 'Edit', edit_account_path
