<div id="logo_search">
	<div id="logo">
		<%= link_to image_tag("logo_apm.jpg", :border => 0, :height => "53px", :width => "141px", :alt => "Asset Performance Management Ltd."), root_url %>
	</div>
</div>