<%= yield :nav_main %>

<div id="container_cat">
	<div id="container">
		<div id="cat_content_header">
			<div id="category_header">
				<%= image_tag @page.photo.url(:category) %>
			</div>
		</div>
		<div class="clear"></div>
		<div id="cat_content_left"></div>
		<div id="cat_content_middle">
			<div id="body_content_middle">
				<%= RedCloth.new(@page.content).to_html %>
			</div>
		</div>
		<div id="cat_content_right"></div>
	</div>
</div>
<div class="clear"></div>