= yield :nav_main

#mainContainer
	#containerCat
		#container
			#catContentHeader
				#categoryHeader
					= image_tag @page.photo.url
		
			.clear

			#catContentLeft
			#catContentMiddle
				#bodyContentMiddle
					= RedCloth.new(@page.content).to_html
		
			#catContentRight

.clear