= yield :nav_main

#mainContainer
	#containerPage
		#container
			#leftNav
				= yield :left_nav

			#subContentMiddle
				#bodyHeader
					
					%h1= @course.name

				#bodyContent
					= RedCloth.new(@course.content).to_html

.clear
