#subNav
	#subNavInformation

#mainContainer
	#containerGeneral
		.container
			#subContentLeft
			
			#subContentMiddle
				#generalContent
					= raw RedCloth.new(@page.content).to_html

			#subContentRight

.clear