<div id="sub_nav_information"></div>
<div class="clear"></div>
<div id="container_general">
	<div id="container">
		<div id="left_nav"></div>
		<div id="sub_content_middle">
			<div id="general_content">
				<%= RedCloth.new(@page.content).to_html %>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>