<ul>
	<li><%= link_to_with_current_class "Leadership", leadership_url %></li>
	<li><%= link_to_with_current_class "News", news_url %></li>
	<li><%= link_to_with_current_class "Careers", careers_url %></li>
	<li><%= link_to_with_current_class "Contact Us", contact_url %></li>
</ul>