%ul
	%li= link_to_with_current_class "Leadership", leadership_index_path
	%li= link_to_with_current_class "News", news_pages_path
	%li= link_to_with_current_class "Careers", careers_pages_path
	%li= link_to_with_current_class "Contact Us", contact_index_path
