<%= yield :nav_main %>

<div id="sub_nav_information"></div>
<div class="clear"></div>
<div id="container_general">
	<div id="container">
		<div id="left_nav"></div>
		<div id="sub_content_middle">
			<div id="general_content">
				<h1>That page does not exist!</h1>
		    <h2>Now you are wondering, "what do I do now!?!". Well</h2>
				<ul class="bulleted_list">
					<li>make sure that the Web site address displayed in the address bar of your browser is spelled and formatted correctly</li>
					<li>you can try to find the page from the <%= link_to "home page", root_url %></li>
					<li>if you reached this page by clicking a link, contact the Web site administrator to alert them that the link is incorrectly formatted</li>
					<li>try clicking the <%= link_to 'back', :back %> button to try another link</li>
				</ul>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>