%ul
	%li= link_to_with_current_class "Performance Modelling", performance_modelling_url
	%li= link_to_with_current_class "Whole Life Approach", whole_life_approach_url
	%li= link_to_with_current_class "Investment Decision Analysis", investment_decision_analysis_url