<div id="sub_nav_container">
	<ul class="sf-menu">
		<li><%= link_to content_tag(:span, "Leadership"), leadership_url %></li>
		<li><%= link_to content_tag(:span, "News"), news_url %></li>
		<li><%= link_to content_tag(:span, "Careers"), careers_url %></li>
		<li><%= link_to content_tag(:span, "Contact Us"), contact_url %></li>
	</ul>
</div>