#subNavContainer
	%ul.sf-menu
		%li= link_to content_tag(:span, "Leadership"), leadership_path
		%li= link_to content_tag(:span, "News"), news_path
		%li= link_to content_tag(:span, "Careers"), careers_path
		%li= link_to content_tag(:span, "Contact Us"), contact_index_path