<div id="sub_nav_container">
	<ul class="sf-menu">
		<li><%= link_to content_tag(:span, "Client List"), client_list_url %></li>
		<li><%= link_to content_tag(:span, "Case Studies"), case_studies_url %></li>
	</ul>
</div>