<ul>
	<li><%= link_to_with_current_class "Financial Management & Control", financial_management_url %></li>
	<li><%= link_to_with_current_class "Cost Modelling", cost_modelling_url %></li>
	<li><%= link_to_with_current_class "Forensic Audit", forensic_audit_url %></li>
</ul>