%ul
	%li= link_to_with_current_class "Strategy & Development", strategy_development_url
	%li= link_to_with_current_class "Software & Model Engineering", software_model_engineering_url
	%li= link_to_with_current_class "Systems Integration", systems_integration_url
