%ul
	%li= link_to_with_current_class "Robustness Evaluation", robustness_evaluation_pages_path
	%li= link_to_with_current_class "Fund Benchmarking", fund_benchmarking_pages_path
	%li= link_to_with_current_class "Operations Impact Strategy", operations_impact_strategy_pages_path
	%li= link_to_with_current_class "Hand-back Requirements Planning", handback_requirements_planning_pages_path