<ul>
	<li><%= link_to_with_current_class "Project & Cost Management", project_cost_management_url %></li>
	<li><%= link_to_with_current_class "Tender Review & Evaluation", tender_review_evaluation_url %></li>
</ul>