%ul
	%li= link_to_with_current_class "Contract & Commercial Management", commercial_management_url
	%li= link_to_with_current_class "Quantity Surveying", quantity_surveying_url
	%li= link_to_with_current_class "Value Engineering", value_engineering_url
