<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
		<title><%= "Admin | Asset Performance Management Ltd." %></title>
		<%#= javascript_include_tag :defaults %>
		<%#= csrf_meta_tag %>
  </head>
  <body>
	
	<p style="color: green"><%= flash[:notice] %></p>

	<%= yield %>
	
	</body>
</html>